mixin head-meta(title, charset,href)
		title=title
		meta(charset=charset)
		link(rel="stylesheet" href=href)
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

mixin tabs(tabslength)
	div.tabs
		ul
			-for(var x=1; x<=tabslength; x++)
				li
					if x === 1
						input(type="radio" name="tab" checked="checked" id="tab_"+x)
						label(for="tab_"+x).tabs__label Tab #{x}
						div.tabs__tabs-info
							h2 The forest is a first-person open TAB#{x}
							img(src="img/city.jpg")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias magni eius repudiandae
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							a(href="404.html").tabs__tabs-info__btn Download
					else if x != 1
						input(type="radio" name="tab" id="tab_"+x)
						label(for="tab_"+x).tabs__label Tab #{x}
						div.tabs__tabs-info
							h2 The forest is a first-person open TAB#{x}
							img(src="img/city.jpg")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias magni eius repudiandae
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							a(href="404.html").tabs__tabs-info__btn Download





//- mixin table(tr,td)
//- 				-for (var x=0; x<tr; x++)
//- 					tr
//- 						-for (var y=0; y<td; y++)
//-

//- mixin form-generate(input)
//- 	form(action= "#")
//- 		-for(var x=0; x<input; x++)
//- 			input(type="text")

